$color-primary: rgb(252,71,71);
$color-secondary: rgb(90,105,143);

$color-bg-primary: rgb(16,20,30);
$color-bg-secondary: rgb(22,29,47);

$color-text-primary: rgb(255,255,255);
$color-text-secondary: rgba(255,255,255,0.75);